body .CSS_BG_DarkBlue{ 
background-color:#FFFFFF; 
} 
body .CSS_BG_LightBlue{ 
background-color:#FFFFFF; 
} 
body .CSS_BG_LightGold{ 
background-color:#FFFFFF; 
} 
body .CSS_BG_LightPurple{ 
background-color:#FFFFFF; 
} 
