body .CSS_BG_DarkBlue{ 
background-color:#42AFf4; 
} 
body .CSS_BG_LightBlue{ 
background-color:#dcf0fc; 
} 
body .CSS_BG_LightGold{ 
background-color:#fad9d2; 
} 
body .CSS_BG_LightPurple{ 
background-color:#f1d2fa; 
} 
