<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Seller_Accept_Request" ng-cloak ng-init="init()" active-screen="Make Offer for Request"
class="aio-empty-screen padding overflow-scroll">
    <div class="list">
        <div class="item-divider item Seller-Header">
            <p>
            </p>
            Bid Request ID: {{miniID}}
        </div>
    </div>
    <div>
        <b>
            <center>
                <font size="4">
                    Quantity: {{Quantity1}}
                </font>
        </b>
        </center>
        <br>
        <b>
            <center>
                {{manufacturer1}} - {{Product1}} - {{Carrier1}}
        </b>
        </center>
        <br>
        Memory: {{Memory1}} / Color: {{Color1}} / {{Kitted1}}
        <br>
        Shipping Method: {{Shipping1}}
        <br>
        Buyer Notes: {{RNotes1}}
        <br>
        Make an Offer for the total of {{Quantity1}} units which includes your shipping
        cost:
        <br>
        (Be sure to put any notes below along with Grade)
    </div>
    <div class="list">
        <div>
            <div class="row">
                <div class="col col-33">
                    <p>
                        Enter The Grade (Condtion):
                    </p>
                </div>
                <div class="col">
                    <div data-tap-disabled="true" class="item item-input item-select ">
                        <div class="input-label">
                            Grade
                        </div>
                        <select ng-init="Condition1=&quot;A&quot;" ng-model="Condition1">
                            <option value="A">
                                A
                            </option>
                            <option value="B">
                                B
                            </option>
                            <option value="C">
                                C
                            </option>
                            <option value="Salvage">
                                Salvage
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item item-input">
        <input type="text" placeholder="Add any notes you may have here:" value="" ng-model="SellerNotes">
    </div>
    <div>
        <div class="row">
            <div class="col">
                <p>
                    Offer for {{Quantity1}} units :
                </p>
            </div>
            <div class="col">
                <form name="myForm">
                    <div class="item item-input">
                        <input type="text" placeholder="Offer - 00.00" value="" ng-required="true" name="bidamount1"
                        ng-model="BidAmount">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="row row-top">
            <div class="col">
                <button class="ion-item-border button button-royal button-block icon-left ion-arrow-left-c"
                ng-click="gotoPage()">
                    Go Back
                </button>
            </div>
            <div class="col">
                <button class="ion-item-border button button-balanced button-block icon-left ion-cash"
                ng-click="PlaceOffer()" ng-disabled="myForm.bidamount1.$error.required">
                    Place Offer
                </button>
            </div>
        </div>
    </div>
</div>