<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Buyer_InProcess_Detail" ng-cloak ng-init="init()" active-screen="Accept Shipment"
class="aio-empty-screen padding overflow-scroll">
    <div class="list">
        <div class="item Buyer-Header">
            <p>
            </p>
            ORDER ID: {{_id1.substring(20)}}
        </div>
    </div>
    <div class="list">
        <p>
            Please rate seller and accept shipment
        </p>
        <div>
            <div class="row">
                <div class="col col-33">
                    <p>
                        Rate the Seller (5 is the best)
                    </p>
                </div>
                <div class="col">
                    <div data-tap-disabled="true" class="item item-input item-select ">
                        <div class="input-label">
                            Rating
                        </div>
                        <select ng-init="Rating1=&quot;5&quot;" ng-model="Rating1">
                            <option value="5">
                                5
                            </option>
                            <option value="4">
                                4
                            </option>
                            <option value="3">
                                3
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="1">
                                1
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col col-33">
                </div>
                <div class="col">
                    <button class="ion-item-border button button-balanced button-block icon-left ion-happy-outline"
                    ng-click="Accept()" ng-disabled="dsblBtn">
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button class="ion-item-border button button-royal button-block icon-left ion-arrow-left-c"
    ng-click="GoBack()">
        Go Back
    </button>
    <div>
        <b>
            <center>
                <font size="4">
                    Quantity: {{Quan1}}
                </font>
        </b>
        </center>
        <br>
        <b>
            <center>
                {{Manu1}} - {{Prod1}} - {{ChoiceCarrier1}}
        </b>
        </center>
        <br>
        <b>
            Tracking:
        </b>
        {{Tracking1}}
        <br>
        <b>
            ShipDate:
        </b>
        {{ShipDate1}}
        <br>
        <b>
            Memory:
        </b>
        {{Mem1}} /
        <b>
            Color:
        </b>
        {{Colour1}} /
        </b>
        Kit:
        </b>
        {{Kit1}}
        <br>
        <b>
            Grade:
        </b>
        {{Cond1}}
        <br>
        <b>
            Notes: (From Buyer)
        </b>
        - {{BuyerNote1}}
        <br>
        <b>
            (From You)
        </b>
        - {{SellerNote1}}
        <br>
        <b>
            (From Buyer)
        </b>
        - {{BuyerNote2a}}
        <br>
        You have Paid
        <b>
            {{BuyingPrice1|currency}}
        </b>
        for this transaction.
    </div>
    <div>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col col-25">
                <button class="ion-item-border button button-assertive button-block" ng-click="Return()"
                ng-disabled="dsblBtn">
                    Return
                </button>
            </div>
            <div class="col">
                <p>
                    Request a return if you are not satisfied with your order. A member of our team
                    will get back to you with instructions.
                </p>
            </div>
        </div>
    </div>
</div>