<div show-header="false" show-footer="false" show-top-tabs="true" show-tabs="false"
ng-controller="ForgotPassword" ng-cloak ng-init="init()" active-screen="Forgot Password"
class="CSS_BG_LightPurple aio-empty-screen padding overflow-scroll">
    <div class="card">
        <div class="item-avatar item CSS_BG_LightPurple">
            Request Change Password Code
        </div>
        <div class="item CSS_BG_LightPurple">
            <form name="requestForm">
                <div class="list">
                    <div class="item item-input">
                        <i class="icon ion-person dark placeholder-icon">
                        </i>
                        <input type="text" placeholder="Enter Username" value="" ng-required="true" name="username"
                        ng-model="userName">
                    </div>
                </div>
            </form>
            <button class="button button-positive button-block" ng-click="requestCode()" ng-disabled="requestForm.username.$error.required">
                Request Code
            </button>
        </div>
    </div>
    <div class="card">
        <div class="item-avatar item CSS_BG_LightPurple">
            Enter Received Code &amp; New Password
        </div>
    </div>
    <form name="changeForm">
        <div class="list">
            <div class="item item-input">
                <i class="icon ion-person dark placeholder-icon">
                </i>
                <input type="text" placeholder="Re-Enter UserName" value="" ng-required="true" name="usernamesend"
                ng-model="usernameSend">
            </div>
            <div class="item item-input">
                <i class="icon ion-clipboard dark placeholder-icon">
                </i>
                <input type="text" placeholder="Enter Code Here" value="" ng-required="true" name="code"
                ng-model="Code">
            </div>
            <p class="assertive">
                Passwords must be at least 8 characters and contain at least one capital letter,
                1 number, and 1 special character
            </p>
            <div class="item item-input">
                <i class="icon ion-locked dark placeholder-icon">
                </i>
                <input type="password" placeholder="New Password" value="" ng-required="true" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/"
                name="newpassword" ng-model="newPassword">
            </div>
            <p ng-show="!changeForm.newpassword.$valid" class="assertive">
                Password is not following the above rules
            </p>
            <p ng-show="changeForm.newpassword.$valid" class="balanced">
                Good Password
            </p>
            <div class="item item-input">
                <i class="icon ion-locked dark placeholder-icon">
                </i>
                <input type="password" placeholder="Repeat New Password" value="" ng-required="true"
                ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/" name="newpassword2"
                ng-model="newPassword2">
            </div>
            <p ng-show="newPassword != newPassword2" class="assertive">
                Passwords do not match
            </p>
            <button class="button button-energized button-block" ng-click="resetPassword()"
            ng-disabled="(newPassword != newPassword2)||changeForm.code.$error.required||changeForm.newpassword.$error.required||changeForm.usernamesend.$error.required ||!changeForm.newpassword.$valid">
                Update Password
            </button>
        </div>
    </form>
    <button class="button button-royal button-block icon-left ion-arrow-left-c" ng-click="gotologin()">
        Go Back To Login Screen
    </button>
</div>