<!DOCTYPE html>
<html>
    
    <head>
        <title>
            index
        </title>
        <!-- App manifest -->
        <link rel="manifest" href="manifest.json" crossOrigin="use-credentials">
        <link rel="apple-touch-icon" sizes="72x72" href="files/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="96x96" href="files/images/a96_96.png">
        <link rel="apple-touch-icon" sizes="144x144" href="files/images/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="192x192" href="files/images/a192_192.png">
        <link rel="apple-touch-icon" sizes="512x512" href="files/images/a512_512.png">
        <meta name="theme-color" content="#ffffff">
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('sw.js')
                    .then(() => console.log('service worker installed'))
                    .catch(err => console.error('Error', err));
            }
        </script>
        <script src="libs/angular/angular.min.js">
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"
        />
        <link href="css/ionic/ionic.min.css" rel="stylesheet" />
        <link href="css/appery-ui/appery-ui.css" rel="stylesheet" />
        <link href="css/__aio_components.css" rel="stylesheet" />
        <link href="css/CSS_JP.css" rel="stylesheet" />
        <!-- Uncomment this script when not using service worker -->
        <!-- <script>        
        var require = {
        urlArgs : window.navigator.userAgent.match(/Windows Phone/i) ? undefined : "bust=1594408048"
        };
        </script>
        -->
        <script data-main="app/bootstrap" src="libs/requirejs/require.js">
        </script>
    </head>
    
    <body>
        <div ng-controller="indexController" ng-cloak ng-init="init()">
            <ion-side-menus>
                <ion-side-menu-content>
                    <ion-header-bar data-aio-id="header" class="bar bar-light" ng-show="visionStatus.header">
                        <div class="buttons">
                            <button class="button button-icon button-block icon ion-navicon-round" menu-toggle="">
                            </button>
                        </div>
                        <h1 class="title">
                            {{activeScreen.name}}
                        </h1>
                        <div class="buttons pull-right">
                            <button class="button button-icon button-block icon ion-home" ng-click="gotoPage()">
                            </button>
                        </div>
                    </ion-header-bar>
                    <div ng-view data-aio-id="ng-view" hasHeader hasFooter class="">
                    </div>
                    <ion-footer-bar data-aio-id="footer" class="bar bar-royal bar-footer" ng-show="visionStatus.footer">
                        <div class="buttons">
                        </div>
                        <h1 class="title">
                            PhoneEx
                        </h1>
                        <div class="buttons">
                        </div>
                    </ion-footer-bar>
                </ion-side-menu-content>
                <ion-side-menu side='left' width='275'>
                    <button class="button button-positive button-block icon-left ion-compose" menu-close=""
                    ng-click="sMakeRequest()">
                        Make A Request
                    </button>
                    <button class="button button-calm button-block icon-left ion-chatbubble" menu-close=""
                    ng-click="sPendingOffers()">
                        Pending Offers
                    </button>
                    <button class="button button-positive button-block icon-left ion-ios-grid-view-outline"
                    menu-close="" ng-click="sRequestsSee()">
                        My Requests
                    </button>
                    <button class="button button-calm button-block icon-left ion-wrench" menu-close=""
                    ng-click="inprocess()">
                        Orders In Process
                    </button>
                    <button class="button button-positive button-block icon-left ion-checkmark-round"
                    menu-close="" ng-click="completed()">
                        Completed Orders
                    </button>
                    <button class="button button-calm button-block icon-left ion-person" menu-close=""
                    ng-click="gotoProfile()">
                        Profile
                    </button>
                    <button class="button button-positive button-block icon-left ion-cash" menu-close=""
                    ng-click="gotoBank()">
                        Bank
                    </button>
                    <button class="button button-calm button-block icon-left ion-help" menu-close=""
                    ng-click="gotoHelp()">
                        Help
                    </button>
                    <button class="button button-positive button-block icon-left ion-information" menu-close=""
                    ng-click="gotoInfo()">
                        Info / Contact
                    </button>
                    <button class="button button-calm button-block icon-left ion-checkmark-round" menu-close=""
                    ng-click="gotoVerify()">
                        Verify Email &amp; Phone
                    </button>
                </ion-side-menu>
            </ion-side-menus>
        </div>
    </body>

</html>