<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Screen1" ng-cloak ng-init="init()" active-screen="Test Push" class="aio-empty-screen padding overflow-scroll">
    <button class="button button-block" ng-click="sendPush ()">
        Send Push
    </button>
    <label class="item item-input">
        <textarea placeholder="Enter text">Your Device ID1 is: {{main.devID1}}</textarea>
    </label>
    <label class="item item-input">
        <textarea placeholder="Enter text">Your username is: {{main.username1}}</textarea>
    </label>
    <button class="button button-block" ng-click="displayData(main.object_id)">
        Button
    </button>
</div>