<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="tabBank" ng-cloak ng-init="init()" active-screen="Bank" class="aio-empty-screen padding overflow-scroll">
    <div class="list">
        <div class="item-divider item Tab-Header">
            <p>
            </p>
            Mobile E-Commerce Done Better
        </div>
    </div>
    <form name="formPaymentType">
        <div class="list">
            <h3>
                {{lblText}}
            </h3>
            <div>
                <div class="row">
                    <div class="col">
                        <button class="ion-item-border button button-calm button-block button-small" ng-click="changetoCC()"
                        ng-show="btn1Show">
                            {{btn1Text}}
                        </button>
                        <button class="ion-item-border button button-energized button-block button-small"
                        ng-click="changetoEscrow()" ng-show="btn2Show">
                            {{btn2Text}}
                        </button>
                        <button class="button button-balanced button-block" ng-show="btn4Show">
                            {{btn4Text}}
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <p>
                            {{lblText3}}
                        </p>
                        <button class="ion-item-border button button-royal button-block button-small" ng-click="escrowInstruct()"
                        ng-show="btn3Show">
                            {{btn3Text}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="card">
        <div class="item-divider item">
            Test Instructions
        </div>
    </div>
    <div>
        <p>
            For TEST puposes - Please use any of the following Credit Card Values:
        </p>
        <table style="height: 133px; width: 400px;">
            <tbody>
                <tr>
                    <td style="width: 100px;">
                        Card Brand
                    </td>
                    <td style="width: 186.6875px;">
                        CC Number
                    </td>
                    <td style="width: 46.3125px;">
                        CVV
                    </td>
                    <td style="width: 54px;">
                        Zip
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <span style="color: #000080;">
                            Visa
                        </span>
                    </td>
                    <td style="width: 186.6875px;">
                        <span style="color: #000080;">
                            4111 1111 1111 1111
                        </span>
                    </td>
                    <td style="width: 46.3125px;">
                        <span style="color: #000080;">
                            111
                        </span>
                    </td>
                    <td style="width: 54px;">
                        <span style="color: #000080;">
                            11111
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <span style="color: #993366;">
                            MasterCard
                        </span>
                    </td>
                    <td style="width: 186.6875px;">
                        <span style="color: #993366;">
                            5105 1051 0510 5100
                        </span>
                    </td>
                    <td style="width: 46.3125px;">
                        <span style="color: #993366;">
                            111
                        </span>
                    </td>
                    <td style="width: 54px;">
                        <span style="color: #993366;">
                            11111
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <span style="color: #333333;">
                            Discover
                        </span>
                    </td>
                    <td style="width: 186.6875px;">
                        <span style="color: #333333;">
                            6011 0000 0000 0004
                        </span>
                    </td>
                    <td style="width: 46.3125px;">
                        <span style="color: #333333;">
                            111
                        </span>
                    </td>
                    <td style="width: 54px;">
                        <span style="color: #333333;">
                            11111
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <span style="color: #993300;">
                            Diners Club
                        </span>
                    </td>
                    <td style="width: 186.6875px;">
                        <span style="color: #993300;">
                            3000 0000 0000 04
                        </span>
                    </td>
                    <td style="width: 46.3125px;">
                        <span style="color: #993300;">
                            111
                        </span>
                    </td>
                    <td style="width: 54px;">
                        <span style="color: #993300;">
                            11111
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <span style="color: #ff0000;">
                            JCB
                        </span>
                    </td>
                    <td style="width: 186.6875px;">
                        <span style="color: #ff0000;">
                            3569 9900 1009 5841
                        </span>
                    </td>
                    <td style="width: 46.3125px;">
                        <span style="color: #ff0000;">
                            111
                        </span>
                    </td>
                    <td style="width: 54px;">
                        <span style="color: #ff0000;">
                            11111
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <span style="color: #ff6600;">
                            American Express
                        </span>
                    </td>
                    <td style="width: 186.6875px;">
                        <span style="color: #ff6600;">
                            3400 000000 00009
                        </span>
                    </td>
                    <td style="width: 46.3125px;">
                        <span style="color: #ff6600;">
                            1111
                        </span>
                    </td>
                    <td style="width: 54px;">
                        <span style="color: #ff6600;">
                            11111
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            Expiration date can be any MONTH / YEAR &nbsp;in the future
        </p>
    </div>
    <button class="ion-item-border button button-balanced button-block" ng-click="gotoSquareCCOF()">
        Enter A Credit Card
    </button>
    <div class="card">
        <div class="item-divider item">
            Default Credit Card
        </div>
        <div class="item">
            <p>
                {{default_cardBrand}} xxx xxx xxx {{default_last4}}
            </p>
            <p>
                Expires: {{default_expMonth}}/{{default_expYear}}
            </p>
        </div>
    </div>
    <p class="royal">
        When you enter a new credit card, it will be the new default. Enter as many cards
        as you see fit. If you'd like to change the default or delete a card click on the
        card you want to change below.
    </p>
    <p class="positive">
        Click on the credit card you want to delete or make default
    </p>
    <div class="card">
        <div class="item-divider item">
            Cards on File
        </div>
        <div class="item">
            <div class="list">
                <a href="javascript:void(0)" class="item-icon-left item" ng-click="ChangeCard(item.id,item.card_brand,item.last_4,item.exp_month,item.exp_year)"
                ng-repeat="item in list">
                <i class="icon ion-card "></i>
                <h2>{{item.card_brand}} xxxxxxx{{item.last_4}}</h2>
                <p></p>
                Expiration: {{item.exp_month}}/{{item.exp_year}}
                </a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="item-divider item" ng-show="eDetailShow">
            Escrow Details
        </div>
        <div class="item">
            <div class="list">
                <a href="javascript:void(0)" class="item-divider item" ng-click="showDetail(item1.OrderId)"
                ng-repeat="item1 in list1">
                <h2>Start: {{item1. StartingAmt |currency}}</h2>
                <p>{{item1.TransType}}: {{item1.TransactionAmt|currency}}    {{item1.OrderId.substring(20)}}</p>
                End: {{item1. EndingAmt|currency}} 
                <span class="item-note">
                {{item1._createdAt.$date.substring(0,10)}}
                </span>
                </a>
            </div>
        </div>
    </div>
    <button class="ion-item-border button button-positive button-block icon-right ion-home"
    ng-click="gotoPage()">
        HOME
    </button>
</div>