<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Buyer_Accept_Offer" ng-cloak ng-init="init()" active-screen="Accept / Decline Offer"
class="aio-empty-screen padding overflow-scroll">
    <button class="button button-calm button-block button-small">
        Your Request ID: {{fk_Request_id1.substring(20)}}
    </button>
    <label class="item item-input">
        <textarea placeholder="Enter text" ng-readonly="true"> {{manufacturer1}}  -  {{Product1}} {{Carrier1}}</textarea>
    </label>
    <label class="item item-input">
        <textarea placeholder="Enter text" ng-readonly="true">Memory: {{Memory1}}  /  Color: {{Color1}}  /  Condition: {{Condition1}} / Kit: {{Kitted1}}</textarea>
    </label>
    <label class="item item-input">
        <textarea placeholder="Enter text" ng-readonly="true">Quantity: {{Quantity1}}</textarea>
    </label>
    <label class="item item-input">
        <textarea placeholder="Enter text" ng-readonly="true">Your Original Notes / Special Requests: {{RNotes1}}</textarea>
    </label>
    <label class="item item-input">
        <textarea placeholder="Enter text" ng-readonly="true">Sellers Note back to you: {{OfferNotes1}}</textarea>
    </label>
    <label class="item item-input">
        <textarea placeholder="Enter text" ng-readonly="true">Shipping method you requested: {{Shipping1}}</textarea>
    </label>
    <label class="item item-input">
        <textarea placeholder="Enter text" ng-readonly="true">Your offer will Expire: {{offerExpires1}} (Offer ID: {{_id1.substring(20)}})</textarea>
    </label>
    <label class="item item-input">
        <textarea placeholder="Enter text" ng-readonly="true">Total Price: {{BuyerPrice1|currency}} (including shipping) which comes out to {{peritem |currency}} per item</textarea>
    </label>
    <div class="list">
        <div class="item item-input">
            <input type="text" placeholder="Enter Any Other Notes Here" value="" ng-model="BuyNotes2">
        </div>
        <div>
            <div class="row">
                <div class="col">
                    <button class="button button-assertive button-block icon-left ion-hammer" ng-click="RejectOffer()">
                        Reject Offer
                    </button>
                </div>
                <div class="col">
                    <button class="button button-balanced button-block icon-left ion-cash" ng-click="AcceptOffer()">
                        Accept Offer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button class="button button-block icon-left ion-arrow-left-a" ng-click="gotoBuyerHome()">
        Do Nothing - Return to Previous Screen
    </button>
</div>