




<div id="app/modals/MessagePopup_WrongUserNamePass/MessagePopup_WrongUserNamePassTemplate.html"  type="text/ng-template">
    <ion-modal-view class="" ng-controller="MessagePopup_WrongUserNamePassController" >

    <ion-content 
                 
                 
                 
                 
                 overflow-scroll=""
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 >



    <div  class="card" >



    <div class="item" ng-readonly="true" >
            Sorry User Name / Password Combo is Invalid
    </div>




    <div class="item" ng-readonly="true" >
            Please Try Again
    </div>

    </div>




<button class="button button-block" ng-click="modal.hide()" >
        Try Again
</button>

    </ion-content>

        
        

        
    <ion-header-bar  class="bar bar-assertive" >
        

        
            <div class="buttons"  >
            </div>

        
            <h1 class="title">Message</h1>
            

        
            <div class="buttons pull-right"  >



<button class="button button-icon button-inline icon ion-close" ng-click="modal.hide()" >
</button>

            </div>

    </ion-header-bar>


    <ion-footer-bar data-aio-id="footer-bar" class="bar bar-footer" >


    <div class="buttons">
    </div>

        <h1 class="title">Footer</h1>


    <div class="buttons">
    </div>

    </ion-footer-bar>


    </ion-modal-view>
</div>
