<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="sq_iFrame" ng-cloak ng-init="init()" active-screen="Enter New Credit Card"
class="aio-empty-screen padding overflow-scroll">
    <div class="list Seller-Header">
        <div class="item-divider item Tab-Header">
            <p>
            </p>
            Mobile E-Commerce Done Better
        </div>
    </div>
    <p>
        Here you will be saving your Credit Card for future use. We do not store any of
        your Credit Card Data. We use PCI-DSS compliant third party credit card vault and
        tokenization providers. When you are done, please tap the home key in the upper right
        corner.
    </p>
    <button class="ion-item-border button button-royal button-block icon-left ion-arrow-left-c"
    ng-click="goBank()">
        Do Nothing - Go Back
    </button>
    <button class="ion-item-border button button-positive button-block icon-right ion-home"
    ng-click="gotoPage()">
        HOME
    </button>
    <div>
        <iframe ng-src="{{builturl}}" width="425" height="600" scrolling="no" frameborder="1">
        </iframe>
    </div>
</div>