<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Bank_CC_Detail" ng-cloak ng-init="init()" active-screen="Credit Card Detail"
class="aio-empty-screen padding overflow-scroll">
    <div>
        <p>
            &nbsp;
        </p>
        <p style="text-align: center;">
            <strong>
                {{cc_state}}
            </strong>
        </p>
        <p style="text-align: center;">
            <span style="color: #0000ff;">
                Card Brand:
            </span>
            {{sqCardBrand}}
        </p>
        <p style="text-align: center;">
            <span style="color: #0000ff;">
                Card Number:
            </span>
            xxx xxxx xxxxxx{{sqLast_4}}
        </p>
        <p style="text-align: center;">
            <span style="color: #0000ff;">
                Expiration:
            </span>
            {{sqMonth}}/{{sqYear}}
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
    </div>
    <div class="button-bar">
    </div>
    <div>
        <div class="row">
            <div class="col">
                <button class="ion-item-border button button-royal button-block icon-left ion-arrow-left-c"
                ng-click="goBack()">
                    Go Back
                </button>
            </div>
            <div class="col col-10">
            </div>
            <div class="col">
                <button class="ion-item-border button button-dark button-block" ng-click="makeDefault()">
                    Make Default
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-25">
            </div>
            <div class="col">
                <button class="ion-item-border button button-assertive button-block icon-left ion-close-round"
                ng-click="deleteCard()">
                    Delete Card
                </button>
            </div>
            <div class="col col-25">
            </div>
        </div>
    </div>
</div>