<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Seller_Home" ng-cloak ng-init="init()" active-screen="Home" class="aio-empty-screen padding overflow-scroll">
    <div class="button-bar">
        <button class="button button-energized button-block button-small icon-left ion-alert"
        ng-click="gotoSellerOffers()">
            All My Offers
        </button>
        <button class="button button-energized button-block button-small icon-left ion-wrench"
        ng-click="gotoSellerInProcess()">
            In Process
        </button>
        <button class="button button-energized button-block button-small icon-left ion-checkmark-round"
        ng-click="gotoSellerComplete()">
            Completed
        </button>
    </div>
    <button class="button button-energized button-block button-small icon-left ion-cash"
    ng-click="gotoSellerAccepted()">
        Accepted Offers - Shipping Required
    </button>
    <div>
        <br>
        <font size="4">
            <center>
                <b>
                    Requests From Buyers
                </b>
            </center>
        </font>
        <center>
            <font color="#FEC82E">
                (Click Below To See Details And To Make An Offer)
            </font>
        </center>
        <br>
    </div>
    <div class="list">
        <a href="javascript:void(0)" class="item" ng-checked="" ng-click="showDetail(item._id)"
        ng-repeat="item in list">
        <h2>{{item. manufacturer}} {{item. Product}} / {{item.Carrier}}/Quan:{{item.Quantity}} </h2>
        <p>{{item.Memory}} / {{item.Color}} /Shipping: {{item.Shipping}}</p>
        {{item.Kitted}} / Request ID: {{item._id.substring(20)}}
        </a>
    </div>
</div>