<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Seller_InProcess" ng-cloak ng-init="init()" active-screen="In Process"
class="aio-empty-screen padding overflow-scroll">
    <div class="button-bar">
        <button class="button button-energized button-block button-small icon-left ion-alert"
        ng-click="gotoSellerOffers()">
            All My Offers
        </button>
        <button class="button button-energized button-block button-small icon-left ion-wrench"
        ng-click="gotoSellerInProcess()">
            In Process
        </button>
        <button class="button button-energized button-block button-small icon-left ion-checkmark-round"
        ng-click="gotoSellerComplete()">
            Completed
        </button>
    </div>
    <button class="button button-energized button-block button-small icon-left ion-cash"
    ng-click="gotoSellerAccepted()">
        Accepted Offers - Shipping Required
    </button>
    <div>
        <br>
        <font size="4">
            <center>
                <b>
                    Waiting on Buyer to Receive and Rate
                </b>
            </center>
        </font>
        <center>
            <font color="#FEC82E">
                (Click To See Details)
            </font>
        </center>
        <br>
    </div>
    <div class="list">
        <a href="javascript:void(0)" class="item" ng-click="showDetail(item._id)" ng-repeat="item in list">
        <h2>Order: {{item.Price|currency}} --&gt; {{item. Manu}} {{item. Prod}} </h2>
        <p>{{item.Mem}} / {{item.Colour}} / {{item. ChoiceCarrier}} /  Order ID: {{item._id.substring(20)}}</p>
        Quan:{{item.Quan}} / Shipped: {{item. ShipDate.$date.substring(0, 10)}}
        </a>
    </div>
</div>