<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Seller_InProcess" ng-cloak ng-init="init()" active-screen="In Process"
class="aio-empty-screen padding overflow-scroll">
    <div class="list">
        <div class="item-divider item Seller-Header" ng-click="gotoSellerInProcess()">
            <p>
            </p>
            Mobile E-Commerce Done Better
        </div>
    </div>
    <button class="ion-item-border button button-royal button-block icon-left ion-arrow-left-c"
    ng-click="gotoSellerHome()">
        Go Back
    </button>
    <div>
        <br>
        <font size="4">
            <center>
                <b>
                    Waiting on Buyer to Receive and Rate
                </b>
            </center>
        </font>
        <center>
            (Click To See Details)
        </center>
        <br>
    </div>
    <div class="list">
        <a href="javascript:void(0)" class="item" ng-click="showDetail(item._id)" ng-repeat="item in list">
        <h2>Order: {{item.Price|currency}} --&gt; {{item. Manu}} {{item. Prod}} </h2>
        <p>{{item.Mem}} / {{item.Colour}} / {{item. ChoiceCarrier}} /  Order ID: {{item._id.substring(20)}}</p>
        Quan:{{item.Quan}} / Shipped: {{item. ShipDate.$date.substring(0, 10)}}
        </a>
    </div>
</div>