<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Buyer_MakeRequest" ng-cloak ng-init="init()" active-screen="Make A Request"
class="aio-empty-screen padding overflow-scroll">
    <div class="list">
        <div class="item-divider item Buyer-Header">
            <p>
            </p>
            Make Selections for Request
        </div>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Manufacturer
        </div>
        <select ng-options="company as company.CompanyName for company in companies" ng-model="company">
            <option>
                Option
            </option>
        </select>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Type
        </div>
        <select ng-options="type as type.TypeName for type in types" ng-disabled="types.length == 0"
        ng-model="type">
            <option>
                Option
            </option>
        </select>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Product
        </div>
        <select ng-options="model as model.ModelName for model in models" ng-disabled="cities.length == 0"
        ng-model="model">
            <option>
                Option
            </option>
        </select>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Memory
        </div>
        <select ng-options="storage as storage.StorageName for storage in storages" ng-disabled="storages.length == 0"
        ng-model="storage">
            <option>
                Option
            </option>
        </select>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Color
        </div>
        <select ng-options="finish as finish.FinishName for finish in finishes" ng-disabled="finishes.length == 0"
        ng-model="finish">
            <option>
                Option
            </option>
        </select>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Carrier
        </div>
        <select ng-init="Carrier=&quot;Unlocked&quot;" ng-model="Carrier">
            <option value="Unlocked">
                Unlocked
            </option>
            <option value="AT&T">
                AT&amp;T
            </option>
            <option value="T-Mobile">
                T-Mobile
            </option>
            <option value="Sprint">
                Sprint
            </option>
            <option value="Verizon">
                Verizon
            </option>
        </select>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Kitted
        </div>
        <select ng-init="Kitted = &quot;No&quot;" ng-model="Kitted">
            <option value="No" ng-i="" selected>
                No
            </option>
            <option value="Box Only">
                Box Only
            </option>
            <option value="Box with OEM Accessories">
                Box with OEM Accessories
            </option>
            <option value="Box with AfterMarket Accessories">
                Box with AfterMarket Accessories
            </option>
        </select>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Request Expiration
        </div>
        <select ng-init="Expiration=&quot;3&quot;" ng-model="Expiration">
            <option value="1">
                1 Day
            </option>
            <option value="2">
                2 Days
            </option>
            <option value="3" selected>
                3 Days
            </option>
            <option value="4">
                4 Days
            </option>
            <option value="7">
                1 Week
            </option>
            <option value="14">
                2 Weeks
            </option>
        </select>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Shipping Speed
        </div>
        <select ng-init="Shipping=&quot;Regular&quot;" ng-model="Shipping">
            <option value="Regular" selected>
                Regular
            </option>
            <option value="Expedited">
                Expedited
            </option>
            <option value="Overnight">
                Overnight
            </option>
        </select>
    </div>
    <div data-tap-disabled="true" class="item item-input item-select ">
        <div class="input-label">
            Quantity
        </div>
        <select ng-init="Quantity = &quot;5&quot;" ng-model="Quantity">
            <option value="1">
                1 Unit
            </option>
            <option value="2">
                2 Units
            </option>
            <option value="3">
                3 Units
            </option>
            <option value="4">
                4 Units
            </option>
            <option value="5" selected>
                5 Units
            </option>
            <option value="6">
                6 Units
            </option>
            <option value="7">
                7 Units
            </option>
            <option value="8">
                8 Units
            </option>
            <option value="9">
                9 Units
            </option>
            <option value="10">
                10 Units
            </option>
            <option value="11">
                11 Units
            </option>
            <option value="12">
                12 Units
            </option>
            <option value="13">
                13 Units
            </option>
            <option value="14">
                14 Units
            </option>
            <option value="15">
                15 Units
            </option>
            <option value="16">
                16 Units
            </option>
            <option value="17">
                17 Units
            </option>
            <option value="18">
                18 Units
            </option>
            <option value="19">
                19 Units
            </option>
            <option value="20">
                20 Units
            </option>
            <option value="25">
                25 Units
            </option>
            <option value="30">
                30 Units
            </option>
            <option value="40">
                40 Units
            </option>
            <option value="50">
                50 Units
            </option>
            <option value="75">
                75 Units
            </option>
            <option value="100">
                100 Units
            </option>
        </select>
    </div>
    <div class="item item-input">
        <input type="text" placeholder="Enter any notes you may have" value="" ng-model="Notes">
    </div>
    <div>
        <br>
        <font size="4">
            <center>
                <b>
                    Your Choices
                </b>
            </center>
        </font>
        <p>
            Model: {{company.CompanyName}} / {{model.ModelName}}
        </p>
        <p>
            Storage: {{storage.StorageName}} / Color: {{finish.FinishName}}
        </p>
        <p>
            Carrier: {{Carrier}} / Kit: {{Kitted}}
        </p>
        <p>
            Quantity: {{Quantity}} / Expiration: {{Expiration}} Days
        </p>
        <p>
            Selected Shipping: {{Shipping}}
        </p>
        <p>
            Your Notes: {{Notes}}
        </p>
    </div>
    <button class="ion-item-border button button-calm button-block icon-left ion-paper-airplane"
    ng-click="MakeData()">
        Send Request
    </button>
    <button class="ion-item-border button button-royal button-block icon-left ion-arrow-left-c"
    ng-click="gotoBuyerHome()">
        Cancel - Go Back
    </button>
</div>