<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="Seller_Filter_Home" ng-cloak ng-init="init()" active-screen="Filtered Home"
class="aio-empty-screen padding overflow-scroll">
    <div class="list">
        <div class="item Seller-Header">
            <p>
            </p>
            Mobile E-Commerce Done Better
        </div>
    </div>
    <button class="ion-item-border button button-royal button-block icon-left ion-arrow-left-c"
    ng-click="gotoSellerHome()">
        Go Back
    </button>
    <p class="balanced">
        Filtered Results:
        <br>
        Manufacturer: {{RequestManu}}
        <br>
        Type: {{RequestType}}
        <br>
        Model: {{RequestModel}}
    </p>
    <div>
        <br>
        <font size="4">
            <center>
                <b>
                    Requests From Buyers
                </b>
            </center>
        </font>
        <center>
            (Click Below To See Details And To Make An Offer)
        </center>
        <br>
    </div>
    <div class="list">
        <a href="javascript:void(0)" class="item" ng-click="showDetail(item._id)" ng-repeat="item in list">
        <h2>{{item. manufacturer}} {{item. Product}} / {{item.Carrier}}/Quan:{{item.Quantity}}</h2>
        <p>{{item.Memory}} / {{item.Color}} /Shipping: {{item.Shipping}}</p>
        {{item.Kitted}} / Request ID: {{item._id.substring(20)}}
        </a>
    </div>
</div>