<div show-header="true" show-footer="true" show-top-tabs="true" show-tabs="true"
ng-controller="tabInfo" ng-cloak ng-init="init()" active-screen="Info" class="aio-empty-screen padding overflow-scroll">
    <div class="list">
        <div class="item-divider item Tab-Header">
            <p>
            </p>
            Mobile E-Commerce Done Better
        </div>
    </div>
    <button class="ion-item-border button button-royal button-block icon-left ion-arrow-left-c"
    ng-click="gotoPage()">
        Go Back
    </button>
    <div>
    </div>
    <button class="ion-item-border button button-calm button-block" ng-click="contactUs()">
        Contact Us
    </button>
    <button class="ion-item-border button button-positive button-block" ng-click="privacyPolicy()">
        Privacy Policy
    </button>
    <button class="ion-item-border button button-calm button-block" ng-click="termsCondtions()">
        Terms &amp; Condtions
    </button>
    <button class="ion-item-border button button-positive button-block" ng-click="ourWebsite()">
        Our Website
    </button>
</div>